<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
<meta charset="UTF-8">
<title>ログインページ | 課題管理アプリケーション</title>
</head>
<body>
<h1 class="mt-3">ログイン画面</h1>
<div th:if="${param.error}">
	<p>ユーザー名またはパスワードが違います</p>
</div>
<form action="#" th:action="@{/login}" method="post">
	<div>
		<label for="usernameInput" class="form-label">ユーザー名</label>
		<input type="text" name="username" id="usernameInput" class="form-control" >
	</div>
	<div>
		<label for="passwordInput" class="form-label">パスワード</label>
		<input type="password" name="password" id="passwordInput" class="form-control">
	</div>
	<div class="mt-3">
		<button type="submit" class="btn btn-primary">ログイン</button>
	</div>
</form>
</body>
</html>