<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
<meta charset="UTF-8">
<title>ユーザー登録 | 課題管理アプリケーション</title>
</head>
<body>
<h1 class="mt-3">ユーザー登録</h1>
<form action="#" th:action="@{/user/createForm}" method="post" th:object="${userForm}">
	<div>
		<label for="usernameInput" class="form-label">ユーザー名</label>
		<input type="text" id="usernameInput" th:field="*{username}" class="form-control"
		th:classappend="${#fields.hasErrors('username')} ? is-invalid">
		<p class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">(error)</p>
	</div>
	<div>
		<label for="passwordInput" class="form-label">パスワード</label>
		<input type="password" id="passwordInput" th:field="*{password}" class="form-control"
		th:classappend="${#fields.hasErrors('password')} ? is-invalid">
		<p class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">(error)</p>
	</div>
	<div id="authorityRadio">
			<div class="form-check" th:classappend="${#fields.hasErrors('authority')} ? is-invalid">
				<label class="form-check-label" for="authorityAdminRadio">ADMIN</label>
				<input class="form-check-input" type="radio" id="authorityAdminRadio" 
				th:field="*{authority}" value="ADMIN" th:classappend="${#fields.hasErrors('authority')} ? is-invalid">
			</div>
			<div class="form-check" th:classappend="${#fields.hasErrors('authority')} ? is-invalid">
				<label class="form-check-label" for="authorityUserRadio">USER</label>
				<input class="form-check-input" type="radio" id="authorityUserRadio"
				th:field="*{authority}" value="USER" th:classappend="${#fields.hasErrors('authority')} ? is-invalid">
			</div>
			<p class="invalid-feedback" th:if="${#fields.hasErrors('authority')}" th:errors="*{authority}">(errors)</p>
		</div>
	<div class="mt-3">
		<button type="submit" class="btn btn-primary">登録</button>
		<a href="./list.html" th:href="@{/user}" class="btn btn-secondary">戻る</a>
	</div>
</form>
</body>
</html>