<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title >課題作成 | 課題管理アプリケーション</title>
</head>
<body>
<h1>課題作成</h1>
<form action="#" th:action="@{/issue/createForm}" method="post">
	<div>
		<label for="summaryInput">概要</label>
		<input type="text" id="summaryInput" name="summary" >
	</div>
	<div>
		<label for="desctiptionInput">説明</label>
		<input type="text" id="descriptionInput" name="desctiption" >
	</div>
	<div>
		<button type="submit">作成</button>
		<a href="#" th:href="@{/issue}">戻る</a>
	</div>
</form>
</body>
</html>