<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
<meta charset="UTF-8">
<title >課題詳細 | 課題管理アプリケーション</title>
</head>
<body>
<h1 class="mt-3">課題詳細</h1>
<div th:object="${issue}">
	概要: <h2 th:text="*{summary}">(summary)</h2>
	説明: <p th:text="*{description}">(description)</p>
	優先度: <p th:text="*{priority}">(priority)</p>
</div>
<div th:object="${issue}">
<a href="#" th:href="@{/issue/update/{id}(id=*{id})}" class="btn btn-primary">変更</a>
<a href="#" th:href="@{/issue/delete/{id}(id=*{id})}" class="btn btn-danger"
 onclick="return confirm('削除してもよろしいですか?')">削除</a>
 </div>
<div class="mt-3">
	<a href="./list.html" th:href="@{/issue}" class="btn btn-secondary">戻る</a>
</div>
</body>
</html>