<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title >課題一覧 | 課題管理アプリケーション</title>
</head>
<body>
<h1>課題一覧</h1>
<a href="#" th:href="@{/}">トップページ</a>
<a href="#" th:href="@{/issue/createForm}">新規作成</a>
<table>
	<thead>
		<tr>
			<th>概要</th>
			<th>優先度</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="issue : ${issueList}" th:object="${issue}">
			<td><a href="#" th:href="@{/issue/{id}(id=*{id})}" th:text="*{summary}">(summary)</a></td>
			<td >(priority)</td>
		</tr>
	</tbody>
</table>
</body>
</html>