<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
<meta charset="UTF-8">
<title >課題作成 | 課題管理アプリケーション</title>
</head>
<body>
<h1 class="mt-3">課題作成</h1>
<form action="#" th:action="@{/issue/updateForm/{id}(id=${id})}" method="post" th:object=${issueForm}>
	<div>
		<label for="summaryInput" class="form-label">概要</label>
		<input type="text" id="summaryInput" th:field="*{summary}" class="form-control"
		th:classappend="${#fields.hasErrors('summary')} ? is-invalid">
		<p class="invalid-feedback" th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}">(error)</p>
	</div>
	<div>
		<label for="descriptionInput" class="form-label">説明</label>
		<input type="text" id="descriptionInput" th:field="*{description}" class="form-control"
		th:classappend="${#fields.hasErrors('description')} ? is-invalid">
		<p class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">(error)</p>
	</div>
	<div class="mt-3">
		<label for="priority">
			<select id="priority" name="priority">
				<option value="1">高</option>
				<option value="2">中</option>
				<option value="3">低</option>
			</select>
		</label>	
	</div>
	<div class="mt-3">
		<button type="submit" class="btn btn-primary">更新</button>
		<a href="./list.html" th:href="@{/issue}" class="btn btn-secondary">戻る</a>
	</div>
</form>
</body>
</html>